#
# Copyright (c) 2021 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig EVENTS
	bool "Event options"
	default y

if EVENTS

config APP_EVENTS_LOG
	bool "Enable logging for application module events"
	default y

config GNSS_EVENTS_LOG
	bool "Enable logging for GNSS module events"
	default y

endif # EVENTS
