Requirements for the product

Modules
- The product should have a GPS module which can track current position in 5 seconds
- The product should have a module which can receive and transmit data via text messages (GSM) and/or internet
- The product should have a battery lifetime of 1 month before needed to change battery
- The product should be powered by a battery and not from a DC jack
- The product should have a accelerometer module to be able to detect movement of the board
- The product should be able to be programmed by an micro USB outlet or ISP
- The product should have a 3D printed case to protect the hardware with only needed hardware to be visually shown
- The product should have a multi-LED that indicates if it is activated or not and if it is working or not
- The product should have a button to restart the program
- The product should have a button to activate the program
- The product should not be larger than the size of a hand (change to dimensions in cm)
- During development a development board can be used but on the finished product a own board should be drawn
- The product should be able to be easy to place on flat surfaces and be stuck on the surface
- Watchdog (software or hardware) needed?

Application
- The application should be able to detect movement of the board, receive the GPS positions and send a message with the GPS position and that the board is moving. The application should also send a messages after 3 minutes if the board has changed GPS coordinates since last message or not
- The application should send a message if the product is not working properly by some reason
- The product should not be dependend of any of the Arduino libraries
- During runtime the application should be in deep-sleep and not receive any GPS signal. The application should only wake up from the deep sleep if the accelerometer detects a movement of the board

Work
- The code should be managed by the version control system Git and GitHub
- Each module should be tested in software both with and without the hardware
- Each time a pull request is opened automated tests should be runned to confirm that the change still passes the tests
- The automated tests should run on a HIL station testing the hardware
